body { margin: 0px; padding: 0px; }
.center { text-align: center; }
p { margin: 0px; }
*, *:after, *:before { -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important;  -ms-box-sizing: border-box !important; -o-box-sizing: border-box !important;	 box-sizing: border-box !important; 
}

/* Fonts */

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/robotoregular/roboto-regular1-webfont.eot');
    src: url('fonts/robotoregular/roboto-regular1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoregular/roboto-regular1-webfont.woff2') format('woff2'),
         url('fonts/robotoregular/roboto-regular1-webfont.woff') format('woff'),
         url('fonts/robotoregular/roboto-regular1-webfont.ttf') format('truetype'),
         url('fonts/robotoregular/roboto-regular1-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/robotobold/roboto-bold-webfont.eot');
    src: url('fonts/robotobold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotobold/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/robotobold/roboto-bold-webfont.woff') format('woff'),
         url('fonts/robotobold/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/robotobold/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
#header { background: #C91E30; color: #fff; font: 30px robotoregular; width: 100%; position: fixed; z-index: 3; }
#header p { padding: 15px; }
#subheader { background: #fb8249; margin: 1px 0px; width: 100%; position: fixed; top: 72px; z-index: 3; }
#subheader p { padding: 5px; font: 20px robotoregular; color: #ffffff; }
.body_content { width: 100%; display: inline-block; position: absolute; top: 100px; }
.tabcontent { position: fixed; z-index: 3; background: #fefefe; }
.bodyelement { position: absolute; top: 105px; padding: 5px 30px; width: 100%; }
#tab1, #tab2, #tab3, #tab4, #alertok, #pop_btnl, #pop_btnr { width: 80px; height: 80px; line-height: 80px; margin-left: 20%; font-size: 30px; outline: none; }
.x_row { display: inline-block; width: 100%; margin: 10px 0px; }
.borderright  { border-right: 5px solid #ffffff; }
.filled { background: #C91E30 !important; }/*Dark Red*/
.notfilled {  background: #F37B84 !important; }/*Light red*/
.grey { background: #CCCCFF !important; }
.yellow { background: #dec20f; padding: 2px; }
.col25 { width: 25%; float: left; padding: 5px; color: #ffffff; }
.col25:last-child { margin-right: 0px }
#info_one { margin: 10px; }
.button { width: 150px; height: 150px; line-height: 150px; background: #C91E30; border-radius: 50%; font-size: 40px; color: #ffffff; border: none; padding: 0px !important; outline: none; }
.x_lbl { width: 100%; font: 16px/20px robotoregular; padding: 1px; margin: 5px 0px; }
.x_input { width: 100%; border: 1px solid #565656; padding: 15px; font: 16px/20px robotoregular; }
.right { float: right; }
.left { float: left; }
.pop_row { width: 100%; padding:20px; display: inline-block; margin: auto; background: #fefefe; }
.pop_content { text-align: center; font-size: 30px; padding: 20px; }
.pop_col { width: 100%; margin: auto; }
.inlineblock { display: inline-block; }
/* .pop_btn { width: 40px; height: 40px; line-height: 40px; color: #fefefe; border-radius: 50%; background: #C91E30; border: none; outline: none; } */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index: 5;/*Sit on top*/
}

/* Modal Content */
.modal-content {
    background-color: #FB8249;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	margin-top: 220px;
}

/* The Close Button */
.close, .closepbdit { font-weight: bold; }

.close:hover, .close:focus, .closepbdit:hover, .closepbdit:focus { text-decoration: none; cursor: pointer; }
#infoModal .modal_header, #propertyModal .modal_header, #businessModal .modal_header, #industryModal .modal_header, #cumulativeModal .modal_header, #turnoverModal .modal_header, #alertModal .modal_header, #pbditModal .modal_header, #bankingModal .modal_header, #ccModal .modal_header, #itrModal .modal_header, #abbModal .modal_header, #dscrModal .modal_header, #outputturnoverModal .modal_header { 	
		width: 100%; background: #FB8249; padding: 5px; display: inline-block; color: #ffffff; font: 30px robotoregular; 
}
.modal_content { width: 100%; clear: both; padding: 10px; font: 25px robotoregular !important; }
#alert, #alert1 { font-size: 30px; }
/*CSS for Output paga*/
.zeromrgn { margin: 0px !important; }
.mrgntop { margin-top: 40px !important; }
.mrgntop5 { margin: 5px 0px 0px 0px !important; }
.col3 { width: 33.3333%; float: left; }
.col2 { width: 50%; float: left; }
.col2.bold { font: 20px robotobold !important; }
#output .col25, #output .col3 { color: #000; font: 20px robotoregular; border-right: 1px solid #fefefe; background: #E6E6E6; padding: 20px; }
#output #subheader { padding: 10px; }
#output .col25:last-child { border: none; }
.whiteback { background: #ffffff !important; border-right: 1px solid #E6E6E6 !important; padding: 10px !important; font: 16px/20px robotoregular !important; }
.brdrbtm { border-bottom: 1px solid #E6E6E6; }

#infoModal .modal-content, #propertyModal .modal-content, #businessModal .modal-content, #industryModal .modal-content, #cumulativeModal .modal-content, #turnoverModal .modal-content, #alertModal .modal-content, #pbditModal .modal-content, #bankingModal .modal-content, #ccModal .modal-content, #itrModal .modal-content, #abbModal .modal-content, #dscrModal .modal-content, #outputturnoverModal .modal-content { background: #fefefe !important; padding: 0px; }
select { background-image: url('../images/Dropdown.png');  background-position: right 10px center; background-repeat: no-repeat; background-size: auto; -webkit-appearance: none; appearance: none; -moz-appearance: none; }
img { margin-right: 8px; }
.font35 { font-size: 35px !important; }
.redtext { color: #C91E30 !important; }
.font30 { font-size: 30px!important; }
#bankingModal .modal-content, #pbditModal .modal-content, #itrModal .modal-content, #abbModal .modal-content, #dscrModal .modal-content, #ccModal .modal-content { margin-top: 30px !important; }
.chngpop { width: 100px !important; height: 100px !important; line-height: 100px !important; }
#outputturnoverModal .modal-content { margin-top: -30px !important; }
#myModal .modal-content { width: 50%; }
.zeropadding { padding: 0px !important; }
.font15 { font-size: 15px }
.nashow { font-weight: bold; text-decoration: underline; }

input[readonly] {
    background-color: #f6f6f6;
}
.outputcontent { top: 130px; }
.positioninitial { position: initial !important; }
@media (max-width: 680px) {
	#output .col25, #output .col3 { padding: 5px !important; font-size: 15px !important; }
}